.additionally {
  margin-bottom: 7px;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 13px;
  }
}

.additionally__legend {
  margin-bottom: 40px;
}

.additionally__list {
  margin-bottom: 34px;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 57px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 104px;
  }
}

.additionally__item {
  margin-bottom: 24px;
  padding-left: 46px;
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
    padding: 24px 0 0 59px;
  }

  @media (min-width: $tablet-width) {
    &:nth-child(2) {
      margin-right: 36px;
    }

    &:nth-child(3) {
      margin-right: 94px;
    }
  }
}

.additionally__wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 21px;

  @media (min-width: $tablet-width) {
    justify-content: start;
    flex-direction: row;
    align-items: center;
    gap: 61px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    gap: 81px;
    margin-bottom: 82px;
  }
}

.additional__item-wrap {
  font-family: $arial;
  font-size: 14px;
}

.required-input {
  margin: 0 auto;
  font-family: $arial;
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
