.additionally {
  border: none;
}

.additionally legend {
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 26px;
}

.additionally__list {
  margin-bottom: 34px;
}

.additionally__item {
  margin-bottom: 13px;
  font-size: 16px;
  text-transform: uppercase;
}

.required-input {
  margin: 21px auto 32px;
  font-family: $arial;
  line-height: 16px;
}
