.advantages {
  margin-bottom: 42px;
}

.advantages__title {
  margin-bottom: 38px;
}

.advantages-list {
  gap: 25px;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 153px;
    row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    gap: 77px;
  }
}

.advantages__item {
  position: relative;
  margin-bottom: 40px;
  padding-left: 80px;
  font-family: $arial;
  color: $dark-grey-special;

  @media (min-width: $tablet-width) {
    padding: 111px 0 0;
    min-height: 280px;
  }

  // @media (min-width: $desktop-width) {
  //   width: 230px;
  // }

  &--one {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      background-image: url("/img/picture/group_one.svg");
      background-repeat: no-repeat;
    }

    @media (min-width: $tablet-width) {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 71px;
        height: 227px;
        background-image: url("/img/picture/1.png");
        background-repeat: no-repeat;
        z-index: -1;
      }
    }
  }

  &--two {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      background-image: url("/img/picture/group_two.svg");
      background-repeat: no-repeat;
    }

    @media (min-width: $tablet-width) {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 113px;
        height: 229px;
        background-image: url("/img/picture/2.png");
        background-repeat: no-repeat;
        z-index: -1;
      }
    }
  }

  &--three {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      background-image: url("/img/picture/group_three.svg");
      background-repeat: no-repeat;
    }

    @media (min-width: $tablet-width) {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 112px;
        height: 232px;
        background-image: url("/img/picture/3.png");
        background-repeat: no-repeat;
        z-index: -1;
      }
    }
  }

  &--four {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      background-image: url("/img/picture/group_four.svg");
      background-repeat: no-repeat;
    }

    @media (min-width: $tablet-width) {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 121px;
        height: 227px;
        background-image: url("/img/picture/4.png");
        background-repeat: no-repeat;
        z-index: -1;
      }
    }
  }
}
