.catalog {
  margin-bottom: 15px;
  padding-top: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
    padding-top: 68px;
  }
}

.catalog__title {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-bottom: 163px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 167px;
  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    column-gap: 60px;
    row-gap: 141px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 149px;
  }
}

.catalog__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;

  &::after {
    position: absolute;
    content: "";
    bottom: -13px;
    left: -21px;
    width: 320px;
    height: 1px;
    background-color: $grey-lighten-4;
  }

  &:last-child::before {
    position: absolute;
    content: "";
    top: 26px;
    left: 125px;
    width: 30px;
    height: 30px;
    background-image: url("../img/icons/plus.svg");
    background-repeat: no-repeat;
  }

  &:last-child {
    padding-top: 80px;
  }

  &:last-child::after {
    bottom: 10px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 39px;
    width: 100%;
    max-width: 324px;
    align-items: center;
    background-color: $grey;

    &::after {
      content: none;
    }

    &:last-child {
      justify-content: flex-start;
      padding-top: 160px;
      background-color: inherit;
      border: 2px solid $grey;
    }

    &:last-child::before {
      position: absolute;
      content: "";
      top: 51px;
      left: 130px;
      width: 60px;
      height: 60px;
      background-image: url("../img/icons/plus-tablet.svg");
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;

    &:last-child::before {
      top: 47px;
      left: 91px;
    }
  }
}

.catalog__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  padding-top: 11px;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.catalog__image-wrap {
  position: relative;
  width: 100%;
  height: 112px;
  text-align: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -84px;
    left: auto;
    margin-bottom: 39px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    height: 172px;
  }
}

.catalog__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);

  &--first {
    transform: translate(-50%, -50%);
  }

  &--third,
  &--seventh {
    transform: translate(-50%, -39%);
  }

  &--fifth {
    transform: translate(-50%, -35%);
  }

  @media (min-width: $tablet-width) {
    &--first,
    &--third,
    &--seventh {
      transform: translate(-50%, -36%);
    }

    &--second {
      transform: translate(-50%, -43%);
    }
  }

  @media (min-width: $desktop-width) {
    &--first,
    &--third,
    &--seventh {
      transform: translate(-50%, -33%);
    }

    &--second {
      transform: translate(-50%, -42%);
    }

    &--fourth,
    &--sixth {
      transform: translate(-50%, -42%);
    }

    &--fifth {
      transform: translate(-50%, -32%);
    }
  }
}


.catalog__wrapper {
  width: 100%;
  max-width: 169px;

  @media (min-width: $tablet-width) {
    padding-top: 151px;
    max-width: 391px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 149px;
    width: 166px;
  }
}

.catalog__subtitle {
  margin-bottom: 14px;
  width: 76px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 auto 21px;
    width: 147px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 24px 14px;
    width: 145px;
    line-height: 22px;
  }
}

.description__item-wrap {
  display: flex;
  justify-content: space-between;
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey-special;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 16px;

    &::after {
      position: absolute;
      content: "";
      bottom: -7px;
      left: -2px;
      width: 250px;
      height: 1px;
      background-color: $grey-lighten-3;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      position: absolute;
      content: "";
      bottom: -8px;
      left: 0;
      width: 169px;
      height: 1px;
      background-color: $grey-lighten-3;
    }
  }
}

.catalog__text {
  margin-bottom: 21px;
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey-special;

  @media (min-width: $tablet-width) {
    margin-bottom: 86px;
    max-width: 167px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 84px;
  }
}

.contacts__wrapper--catalog {
  background-color: $grey;
}

.catalog__subtitle--last,
.catalog__text {
  width: 100%;
  text-align: center;

  @media (min-width: $desktop-width) {
    width: 167px;
  }
}

.catalog__subtitle--last {
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    width: 134px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 24px 17px;
  }
}
