.contacts__wrapper {
  margin: 27px auto;
}

.contacts__subtitle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black-1;
}

.contacts__adress {
  line-height: 20px;
  color: $dark-grey-special;
}
