.example {
  padding-top: 27px;
  background-color: $grey-lighten-2;

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    padding: 6px 0 26px;
    background-color: $grey-lighten-2;
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 110px;
    width: 100%;
    max-width: 1440px;
  }
}

.example__content {
  @media (min-width: $tablet-width) {
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 436px;
    background-color: $grey-lighten-2;
  }
}

.example__content .container {
  @media (min-width: $desktop-width) {
    width: 100%;
    max-width: 436px;
    padding: 0;
  }
}

.example__title {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: -142px;
    left: 1px;
    margin-bottom: 5px;
  }
}

.example__description {
  margin-bottom: 25px;
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey-special;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
    width: 100%;
    max-width: 700px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
    width: 100%;
    max-width: 436px;
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 216px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 100%;
    max-width: 436px;
  }
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 366px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.example__item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 13px 0 2px;
  width: 100%;
  max-width: 124px;
  border: 1px solid $grey-lighten-3;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    padding-top: 9px;
    width: 100%;
    max-width: 162px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 14px;
  }
}

.example__subtitle {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__text {
  position: absolute;
  top: 47px;
  left: auto;
  padding: 0 10px;
  width: 77px;
  font-family: $arial;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: $dark-grey-special;
  background-color: $grey-lighten-2;
  text-align: center;

  @media (min-width: $tablet-width) {
    top: 63px;
    width: 150px;
    font-size: 14px;
    line-height: 14px;
    background-color: $white;
    text-transform: lowercase;
  }

  @media (min-width: $desktop-width) {
    top: 63px;
    background-color: $grey-lighten-2;
  }
}

.example__price {
  margin-bottom: 44px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    max-width: 174px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 327px;
    text-align: center;
  }
}
