.example {
  background-color: $grey-lighten-2;

  @media (min-width: $tablet-width) {
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    background-color: $grey-lighten-2;
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 110px;
    width: 1440px;
  }
}

.example__content {
  @media (min-width: $tablet-width) {
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    background-color: $grey-lighten-2;
  }
}

.example__content .container {
  @media (min-width: $desktop-width) {
    width: 436px;
    padding: 0;
  }
}

.example__title {
  margin-bottom: 33px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }
}

.example__description {
  margin-bottom: 25px;
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey-special;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
    width: 436px;
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 27px;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 366px;
  }
}

.example__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 124px;
  border: 1px solid $grey-lighten-3;
  border-radius: 3px;
}

.example__subtitle {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.example__text {
  position: absolute;
  top: 32px;
  left: 18px;
  padding: 0 10px;
  width: 77px;
  font-family: $arial;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: $dark-grey-special;
  background-color: $grey-lighten-2;
  text-align: center;

  @media (min-width: $tablet-width) {
    top: 41px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    top: 32px;
    background-color: $grey-lighten-2;
  }
}

.example__price {
  margin-bottom: 44px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 130px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    text-align: center;
  }
}
