.page-footer {
  background-color: $grey;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  // gap: 52px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 33px 0;
  }
}

.page-footer__logo {
  position: relative;
  padding: 38px 0 32px;

  &::after {
    position: absolute;
    content: "";
    bottom: 2px;
    left: -76px;
    width: 280px;
    height: 1px;
    background-color: $grey-lighten;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    &::after {
      content: none;
    }
  }
}

.page-footer__social {
  position: relative;
  padding: 20px;

  &::after {
    position: absolute;
    content: "";
    bottom: 4px;
    left: -56px;
    width: 280px;
    height: 1px;
    background-color: $grey-lighten;
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: none;
    }
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0 21px;
  width: 281px;

  @media (min-width: $tablet-width) {
    width: 163px;
  }
}
