.hero {
  position: relative;
  margin-bottom: 22px;
  padding-top: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: -86px;
    padding-top: 54px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: stretch;
    margin-bottom: 267px;
    padding-top: 104px;
  }
}

.hero__image-container {
  position: absolute;
  top: 0;
  right: 0;
  order: 2;
  width: 100%;
  min-height: 302px;
  background-color: $green;
  opacity: 85%;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    top: -130px;
    right: 0;
    display: block;
    width: 50%;
    height: 705px;
  }
}

.hero__image-background {
  position: absolute;
  order: 1;
  height: 302px;
  width: 100%;
  max-width: 768px;
  object-fit: cover;
  opacity: 25%;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    top: 10px;
    display: block;
    width: 720px;
    height: 696px;
    object-fit: cover;
  }
}

.hero__wrapper {
  position: relative;
  order: 3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
  }
}

.hero__title {
  margin-bottom: 25px;
  width: 100%;
  max-width: 760px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-left: 87px;
    margin-bottom: 41px;
    width: 414px;
    font-size: 60px;
    line-height: 60px;
    color: $black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-bottom: 40px;
  }
}

.hero__slogan {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $white;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    padding-left: 89px;
    font-size: 20px;
    line-height: 20px;
    color: $black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    padding-left: 80px;
  }
}

.hero__image-wrapper {
  display: block;
  width: 280px;

  @media (min-width: $tablet-width) {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50.1%, -13.6%);
    width: 709px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 184px;
    left: 846px;
    transform: translate(-52%, -53%);
    width: 552px;
  }
}

.hero__image {
  @media (min-width: $tablet-width) {
    width: 709px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
  }
}
