.hero {
  position: relative;
  margin-bottom: 22px;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: stretch;
  }
}

.hero__image-container {
  position: absolute;
  order: 2;
  width: 100%;
  min-height: 302px;
  background-color: $green;
  opacity: 85%;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    top: -130px;
    right: 0;
    display: block;
    width: 50%;
    height: 696px;
  }
}

.hero__image-background {
  position: absolute;
  order: 1;
  height: 302px;
  width: 100%;
  object-fit: cover;
  opacity: 50%;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    // display: block;
    width: 50%;
  }
}

.hero__wrapper {
  position: relative;
  order: 3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
  }
}

.hero__title {
  margin-bottom: 25px;
  width: 249px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    padding-top: 62px;
    padding-left: 87px;
    width: 80%;
    font-size: 60px;
    line-height: 60px;
    color: $black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    width: 50%;
  }
}

.hero__slogan {
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $white;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    padding-left: 87px;
    font-size: 20px;
    line-height: 20px;
    color: $black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    padding-left: 80px;
  }
}

.hero__image-wrapper {
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    order: 2;
    margin: 0 auto;
  }
}

.hero__image {
  display: block;
  // margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 1%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 552px;
    height: 499px;
  }
}
