.main-nav__list li {
  margin: 0 auto;
  padding: 22px 0 24px;
  background-color: $white;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

.main-nav__list a {
  color: $black;
}
