.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto 4px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 46px;
  }
}

.page-header__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 56px;
  width: 100%;
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 7px 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.page-header__logo-icon img {
  @media (min-width: $tablet-width) {
    display: block;
    width: 174px;
    height: auto;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: auto;
  }
}

.page-header__logo-text {
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
