.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto 4px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 46px;
  }
}

.page-header__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 56px;
  width: 100%;
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    gap: 12px;
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }
}

.page-header__logo-text {
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
