.present {
  position: relative;
  // margin-bottom: 35px;
  height: 289px;
  background-color: $green;
  background-size: 320px;
  background-repeat: no-repeat;
  background-position: 0 0;

  &::before {
    content: "";
    position: absolute;
    top: 59px;
    left: 101px;
    width: 78px;
    height: 80px;
    background-image: url("../img/icons/icon_gift.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    height: 200px;

    &::before {
      content: "";
      position: absolute;
      top: 57px;
      left: 78px;
      width: 80px;
      height: 82px;
      background-image: url("../img/icons/icon_gift_tablet.svg");
      background-repeat: no-repeat;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 289px;

    &::before {
      top: 56px;
      left: 84px;
    }
  }
}

.present__description {
  position: absolute;
  top: 188px;
  left: 58px;
  width: 161px;
  font-family: $arial;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    top: 71px;
    left: 423px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    top: 187px;
    left: 41px;
    text-align: center;
  }
}

.present__image {
  width: 289px;

  @media (min-width: $tablet-width) {
    width: auto;
    height: auto;
  }
}
