.slider {
  @media (min-width: $tablet-width) {
    background-color: $grey-lighten-2;
  }

  @media (min-width: $desktop-width) {
    width: 690px;
  }
}

.slider .container {
  @media (min-width: $desktop-width) {
    width: 690px;
    padding: 0;
  }
}

.slider__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.slider__item--before {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
