.slider {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    background-color: $grey-lighten-2;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 690px;
  }
}

.slider .container {
  @media (min-width: $desktop-width) {
    width: 690px;
    padding: 0;
  }
}

.slider__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.slider__item {
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 333px;
    width: 50%;
  }
}

.slider__item--after {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
