.user-comments {
  border: none;
}

.user-comments__legend {
  margin-bottom: 37px;
}

.user-comments__description {
  font-size: 16px;
  line-height: 18px;
  color: $dark-grey-special;
  text-transform: uppercase;
}
