$green: rgba(104, 183, 56, 1);
$green-lighten: rgba(94, 170, 47, 1);
$green-opacity: rgba(104, 183, 56, 0.85);
$grey: rgba(242, 242, 242, 1);
$grey-lighten: rgba(205, 205, 205, 1);
$grey-lighten-2:rgba(235, 235, 235, 1);
$purple: rgba(210, 72, 153, 1);
$red: rgba(255, 130, 130, 1);
$black: rgba(0, 0, 0, 1);
$dark-grey: rgba(68, 68, 68, 1);
$white: rgba(255, 255, 255, 1);
