.button {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: $white;
  text-align: center;
  border: none;
  cursor: pointer;
}

.button__primary {
  display: block;
  padding: 7px;
  background-color: $green;
  text-transform: uppercase;
}

.button__secondary {
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;
}

.button__third {
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  background-color: $green;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}

.button__fourth {
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  background-color: $grey;
  text-transform: uppercase;
}

.button-wrapper-first {
  @media (min-width: $tablet-width) {
    margin-left: 87px;
    width: 244px;
  }
}

.button__primary--second {
  @media (min-width: $tablet-width) {
    width: 282px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.button__primary--third {
  margin-bottom: 39px;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 248px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}
