.button {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: $white;
  text-align: center;
  border: none;
  cursor: pointer;
}

.button__primary {
  display: block;
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
  background-color: $green;
  text-transform: uppercase;

  &:hover {
    background-color: $green-lighten;
  }

  &:active {
    background-color: $green-lighten;
    color: $white-opacity;
  }

  @media (min-width: $tablet-width) {
    padding: 17px 18px 15px 22px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 17px 18px 17px 22px;
  }
}

.button__secondary {
  position: relative;
  padding-right: 40px;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;

  &:active {
    opacity: 30%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 100px;
    width: 32px;
    height: 10px;
    background-image: url("/img/icons/arrow.svg");
    background-repeat: no-repeat;
  }

  &:hover::after {
    width: 32px;
    height: 12px;
    background-image: url("/img/icons/arrow_hover.svg");
    background-repeat: no-repeat;
  }

  &:active::after {
    width: 32px;
    height: 12px;
    background-image: url("/img/icons/arrow_hover.svg");
    background-repeat: no-repeat;
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    padding-right: 55px;
    font-size: 20px;
    line-height: 20px;

    &::after {
      top: 4px;
      left: 132px;
    }
  }
}

.button__third {
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  background-color: $green;
  text-transform: uppercase;

  &:hover {
    background-color: $green-lighten;
  }

  &:active {
    background-color: $green-lighten;
    color: $white-opacity;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}

.button-wrapper-first {
  align-self: stretch;

  @media (min-width: $tablet-width) {
    margin-left: 90px;
    width: 244px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.button__primary--second {
  @media (min-width: $tablet-width) {
    width: 284px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.button__primary--third {
  margin-bottom: 12px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
    width: 100%;
    max-width: 248px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.button__fourth {
  margin-bottom: 35px;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  color: $dark-grey-special;
  background-color: $grey;
  text-transform: uppercase;

  &:hover {
    background-color: $grey-lighten-4;
  }

  &:active {
    background-color: $grey;
    color: $white-opacity-2;
  }
}
