.range-control {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 27px 0 35px;
  width: 195px;

  @media (min-width: $tablet-width) {
    justify-content: center;
    padding-bottom: 67px;
    width: 570px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
    margin: 0 0 0 auto;
    padding: 20px 0;
  }
}

.range-control__toggle {
  width: 84px;

  @media (min-width: $tablet-width) {
    margin: 0 22px;
    width: 100%;
    max-width: 428px;
  }
}

.range-control p {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29px;
    border-bottom: 1px dotted $grey-lighten-3;
  }
}
