.range-control {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 25px 0 37px;
  width: 195px;

  @media (min-width: $tablet-width) {
    justify-content: center;
    padding-bottom: 69px;
    width: auto;
  }
}

.range-control__toggle {
  width: 84px;

  @media (min-width: $tablet-width) {
    margin: 0 22px;
    width: 428px;
  }
}

.range-control p {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29px;
  }
}
