.program-title {
  margin-bottom: 37px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.program-description {
  margin-bottom: 39px;
  text-transform: uppercase;
}

.program-form {
  margin-bottom: 50px;
  border: none;
}

.program-form__item {
  margin-bottom: 13px;
  font-size: 16px;
  color: $dark-grey-special;
  text-transform: uppercase;
}

