.user-contacts {
  border: none;
}

.user-contacts legend {
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 26px;
}

.user-contacts__item {
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 18px;
  color: $dark-grey-special;
  text-transform: uppercase;
}
